html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}
.dropdown-color {
  background-color: black;
}

.box {
  background-image: url("../Asstes/card-one.jpg");
  height: 20rem;
  width: 20rem;
  border-radius: 2rem;
}

.contact-btn {
  background-color: black;
  color: white;
}
.header-container {
  height: 4rem;
  background-color: black;
}
.heading-Portfolio {
  display: none;
}
@media screen and (max-width: 995px) {
  .contact-btn {
    display: none;
  }
  .heading-Portfolio {
    display: block;
  }
}
.home-page-mobile {
  display: none;
}
@media screen and (max-width: 896px) {
  .home {
    display: none;
  }
  .intro-home-page-2 {
    display: none;
  }
  .img-home-page {
    display: none;
  }
  .home-page-mobile {
    height: 55rem;
    width: 100%;
    background-image: url("Asstes/bg-body-img\ \(1\).jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-view-home {
    padding: 5rem;
  }
}
.input-form {
  background-color: black;
  color: white;
}
